.colomn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.scroll {
    overflow-y: auto;
    height: 464px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}