.box {
    position: relative;
    width: 272px;
    cursor: pointer;
    opacity: 1;
}

.count {
    position: absolute;
    top: 0;
    right: 0;
}

.center {
    display: flex;
    justify-content: center;
}

.center__text {
 text-align: center;
}